<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Client form</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- bootstrap kit-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link  th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- end of bootstrap kit-->
    <link rel="stylesheet" href="/footer.css">


    <style>
        .table {
            font-size: 10px;
        }
        .table tr,.table td {
           height: 10px;
           <!--text-align: center-->
        }
        .table>tbody>tr>td, .table>tbody>tr>th,
        .table>thead>tr>td, .table>thead>tr>th {
          padding:0;
        }
    </style>


</head>
<body>
<div class="container">
    <div class="table-responsive">
        <table class="table" id="bookingTable">
        </table>
    </div>
</div>
<script th:src="@{/ajax/jquery-3.3.1.min.js}"></script>
<script th:src="@{/ajax/popper.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

<script>
    $(document).ready(function(){
        loadTableData();
     });

    function loadTableData(){
        $.get('http://localhost:8080/tableData', function(data) {
          $('#bookingTable').html(data);
          mergeCells();
          mergeRows();
        });
    }

    function mergeCells(){
        var rows = $('#bookingTable').children('tbody').children('tr');
            for(var i = 0;i<rows.length;i++){
               var cells = $(rows[i]).children('td');
               var $primaryCell = $(cells[0]);
                   for(var j = 1;j<cells.length;j++){
                        var $currCell = $(cells[j]);
                        var $prevCell = $(cells[j-1]);
                        if(hasAttr($currCell,'data-vac') && hasAttr($prevCell,'data-vac')){
                            if($currCell.data('vac') === $prevCell.data('vac')){
                                  $currCell.hide();
                                      if(!hasAttr($primaryCell,'colspan')){
                                            $primaryCell.attr('colspan',1);
                                      }
                                  var currColspan = $primaryCell.attr('colspan');
                                  $primaryCell.attr('colspan',(parseInt(currColspan)+1));
                            }
                        }
                        if(!sameVacationCells($currCell,$prevCell)){
                            $primaryCell = $currCell;
                        }
                   }
            }
    }

    function sameVacationCells($cell1,$cell2){
    var haveAttr = hasAttr($cell1,'data-vac') && hasAttr($cell2,'data-vac');
    var sameValues = $cell1.data('vac') === $cell2.data('vac');
    return haveAttr && sameValues;
    }

    function hasAttr($element, attrName){
        var attr = $element.attr(attrName);
        return typeof attr !== typeof undefined && attr !== false;
    }

    function mergeRows(){

    }
    </script>
</body>
</html>