<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Client form</title>
    <meta charset="utf-8">

    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"-->
    <!--integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">-->

    <!-- bootstrap kit-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- end of bootstrap kit-->
    <link rel="stylesheet" href="/footer.css">

    <link th:href="@{/fontawesome/css/all.css}" rel="stylesheet">

</head>
<body class="bg-light">
<div th:insert="header.html"></div>
<ol class="breadcrumb bg-white shadow-sm">
    <li class="breadcrumb-item"><a th:href="@{/}">Домашня</a></li>
    <li class="breadcrumb-item"><a th:href="@{/clients}">Клієнти</a></li>
    <li class="breadcrumb-item active">Створити</li>
</ol>
<div class="container col-md-6" style="float: none; margin: 0 auto;">
    <br>
    <div class="card shadow-sm">
        <div class="card-body">
            <form class="needs-validation" action="#" th:action="@{/clients/update}" th:object="${clientModel}"
                  method="post">
                <div class="mb-4">
                    <h4 class="card-title" th:text="((*{id} == null)?'Додати':'Редагувати') + ' дані клієнта'"></h4>
                </div>

                <input th:type="hidden" th:value="*{id}" th:field="*{id}">

                    <div class="mb-3 form-group">
                        <label class="form-control-label" for="clientName">Ім'я</label>
                        <input type="text" th:field="*{name}" value="*{name}" id="clientName"
                               th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid' : 'form-control'">
                        <div class="invalid-feedback" th:errors="*{name}"></div>
                    </div>

                    <div class="mb-3 form-group">
                        <label class="form-control-label" for="otherClientInfo">Додаткові дані
                            <span class="text-secondary">(Прізвище, Звідки..)</span></label>
                        <input type="text" th:field="*{otherClientInfo}" value="*{otherClientInfo}" id="otherClientInfo"
                               th:class="${#fields.hasErrors('otherClientInfo')} ? 'form-control is-invalid' : 'form-control'">
                        <div class="invalid-feedback" th:errors="*{otherClientInfo}"></div>
                    </div>

                <div class="mb-3 form-group">
                    <label class="form-control-label" for="phoneNumber">Номер телефону</label>
                    <input type="text" th:field="*{phoneNumber}" value="*{phoneNumber}"
                           id="phoneNumber" data-mask="(000) 00-00-000"
                           th:class="${#fields.hasErrors('phoneNumber')} ? 'form-control is-invalid' : 'form-control'">
                    <div class="invalid-feedback" th:errors="*{phoneNumber}"></div>
                </div>

                <div class="mb-3 form-group">
                    <label class="form-control-label" for="email">Email<span class="text-secondary">&nbsp;(Не обов'язково)</span></label>
                    <input type="text" th:field="*{email}" value="*{email}" id="email" placeholder="example@gmail.com"
                           th:class="${#fields.hasErrors('email')} ? 'form-control is-invalid' : 'form-control'">
                    <div class="invalid-feedback" th:errors="*{email}"></div>

                    <br>
                    <hr class="mt-2">
                    <button class="btn btn-info btn-block shadow-sm" type="submit">Зберегти</button>
                    <a th:href="@{/clients}" class="text-center mt-2 btn btn-block btn-link text-secondary">
                        Відмінити
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:insert="footer.html"></div>
<script th:src="@{/ajax/jquery-3.3.1.min.js}"></script>
<script th:src="@{/ajax/popper.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/jquery.mask.js}" type="text/javascript"></script>
</body>
</html>