<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Клієнт</title>
    <meta charset="utf-8">
    <!-- bootstrap kit-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- end of bootstrap kit-->
    <link rel="stylesheet" href="/footer.css">

    <link th:href="@{/fontawesome/css/all.css}" rel="stylesheet">

</head>
<body class="bg-light">

<nav class="navbar navbar-expand-md navbar-dark bg-primary" xmlns:th="http://www.w3.org/1999/xhtml">
    <a class="navbar-brand" th:href="@{/}"><i class="fas fa-home text-white fa-lg"></i></a>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse dual-collapse2" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item text-nowrap">
                <a class="nav-link" th:href="@{/vacations}"><i class="far fa-bed fa-lg"></i>&nbsp;&nbsp;&nbsp;Бронювання</a>
            </li>
            <li class="nav-item text-nowrap active">
                <a class="nav-link" th:href="@{/clients}"><i class="far fa-user fa-lg"></i>&nbsp;&nbsp;&nbsp;Клієнти</a>
            </li>
            <li class="nav-item text-nowrap">
                <a class="nav-link" th:href="@{/importExport}"><i class="far fa-download fa-lg"></i>&nbsp;&nbsp;&nbsp;Імпорт/Експорт</a>
            </li>
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#"><i class="far fa-chart-line fa-lg"></i>&nbsp;&nbsp;&nbsp;Статистика</a>
            </li>
            <li class="nav-item text-nowrap">
                <a class="nav-link" th:href="@{/logout}"><i class="far fa-sign-out-alt fa-lg"></i>&nbsp;&nbsp;&nbsp;Вихід</a>
            </li>
        </ul>
    </div>

</nav>

<ol class="breadcrumb bg-white shadow-sm">
    <li class="breadcrumb-item"><a th:href="@{/}">Домашня</a></li>
    <li class="breadcrumb-item"><a th:href="@{/clients}">Клієнти</a></li>
    <li class="breadcrumb-item active">Створити</li>
</ol>
<div class="container col-md-6" style="float: none; margin: 0 auto;">
    <br>
    <div class="card shadow-sm">
        <div class="card-body">
            <form class="needs-validation" action="#" th:action="@{/clients/update}" th:object="${clientModel}"
                  method="post">
                <div class="mb-4">
                    <span class="h5 card-title" th:text="Клієнт"></span>
                    <a th:href="@{/client/{id}/remove(id=${clientModel.id})}"
                       class="btn btn-outline-primary shadow-sm float-right" id="removeButton">
                        Видалити
                    </a>
                </div>
                <div style="display:none;" id="anyErrors" th:if="${#fields.hasErrors('*')}">true</div>
                <input th:type="hidden" th:value="*{id}" id="clientId" th:field="*{id}">

                <div class="mb-3 form-group">
                    <label class="form-control-label" for="clientName">Ім'я<span
                            class="text-danger">&nbsp;*</span></label>
                    <input disabled type="text" th:field="*{name}" value="*{name}" id="clientName"
                           th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid' : 'form-control bg-white'">
                    <div class="invalid-feedback" th:errors="*{name}"></div>
                </div>

                <div class="mb-3 form-group">
                    <label class="form-control-label" for="otherClientInfo">Додаткові дані<span class="text-danger">&nbsp;*</span></label>
                    <input disabled type="text" th:field="*{otherClientInfo}" value="*{otherClientInfo}"
                           id="otherClientInfo"
                           th:class="${#fields.hasErrors('otherClientInfo')} ? 'form-control is-invalid' : 'form-control bg-white'">
                    <div class="invalid-feedback" th:errors="*{otherClientInfo}"></div>
                </div>

                <div class="mb-3 form-group">
                    <label class="form-control-label" for="phoneNumber">Номер телефону<span
                            class="text-danger">&nbsp;*</span></label>
                    <input disabled type="text" th:field="*{phoneNumber}" value="*{phoneNumber}"
                           id="phoneNumber" data-mask="(000) 00-00-000"
                           th:class="${#fields.hasErrors('phoneNumber')} ? 'form-control is-invalid' : 'form-control bg-white'">
                    <div class="invalid-feedback" th:errors="*{phoneNumber}"></div>
                </div>

                <div class="mb-0 form-group">
                    <label class="form-control-label" for="comment">Коментар</label>
                    <textarea disabled type="text" th:field="*{comment}" value="*{comment}" id="comment"
                              class="form-control bg-white" rows="4"></textarea>

                    <div style="display:none;" id="saveClientSection">
                        <br>
                        <hr class="mt-2">
                        <button class="btn btn-primary btn-block shadow-sm" type="submit">Зберегти</button>
                        <a th:href="@{/clients}" class="text-center mt-2 btn btn-block btn-link text-muted">
                            Відмінити
                        </a>
                    </div>

                    <div id="editClientSection">
                        <br>
                        <hr class="mt-2">
                        <div class="btn btn-primary btn-block shadow-sm" id="editClientButton">Редагувати</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:insert="footer.html"></div>
<script th:src="@{/ajax/jquery-3.3.1.min.js}"></script>
<script th:src="@{/ajax/popper.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/jquery.mask.js}" type="text/javascript"></script>
<script>
    $(document).ready(function(){
        $('#editClientButton').click(function(){
            unlockFields();
        });

        if($('#anyErrors').text() == 'true' || $('#clientId').val().length == 0){
            unlockFields();
        }
    });


    function unlockFields(){
            $('#saveClientSection').css('display','block');
            $('#editClientSection').css('display','none');
            $('#removeButton').addClass('disabled');

            $('#clientName').prop('disabled',false);
            $('#otherClientInfo').prop('disabled',false);
            $('#phoneNumber').prop('disabled',false);
            $('#comment').prop('disabled',false);
    }

</script>
</body>
</html>