<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Client form</title>
    <meta charset="utf-8">

    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"-->
          <!--integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">-->

    <!-- bootstrap kit-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- end of bootstrap kit-->
    <link rel="stylesheet" href="/footer.css">

    <link th:href="@{/fontawesome/css/all.css}" rel="stylesheet">

</head>
<body class="bg-light">
<div th:insert="header.html"></div>
<div class="container col-md-6" style="float: none; margin: 0 auto;">
    <form class="needs-validation" action="#" th:action="@{/clients/update}" th:object="${clientModel}" method="post">
        <h3 class="mb-3 mt-4" th:text="((*{id} == null)?'Додати':'Редагувати') + ' дані клієнта'"></h3>
        <input th:type="hidden" th:value="*{id}" th:field="*{id}">
        <div class="row">
            <div class="col-md-6 mb-3 form-group">
                <label for="clientName">Ім'я</label>
                <input type="text" th:field="*{name}" value="*{name}" class="form-control" id="clientName">
                <div th:if="${#fields.hasErrors('name')}"><i class="fas fa-exclamation text-danger"></i>
                    <span class="text-danger" th:errors="*{name}"></span>
                </div>
            </div>
            <div class="col-md-6 mb-3 form-group">
                <label for="otherClientInfo">Додаткові дані
                    <span class="text-secondary">(Прізвище, Звідки..)</span></label>
                <input type="text" th:field="*{otherClientInfo}" value="*{otherClientInfo}" class="form-control"
                       id="otherClientInfo">
                <div th:if="${#fields.hasErrors('otherClientInfo')}"><i
                        class="fas fa-exclamation text-danger"></i>
                    <span class="text-danger" th:if="${#fields.hasErrors('otherClientInfo')}"
                          th:errors="*{otherClientInfo}"></span>
                </div>
            </div>
        </div>
        <div class="mb-3 form-group">
            <label for="phoneNumber">Номер телефону</label>
            <input type="text" th:field="*{phoneNumber}" value="*{phoneNumber}" class="form-control"
                   placeholder="(0_ _) _ _-_ _-_ _ _" id="phoneNumber">
            <div th:if="${#fields.hasErrors('phoneNumber')}"><i class="fas fa-exclamation text-danger"></i>
                <span class="text-danger" th:errors="*{phoneNumber}"></span>
            </div>
        </div>
        <div class="mb-3 form-group">
            <label for="email">Email<span class="text-secondary">&nbsp;(Не обов'язково)</span></label>
            <input type="text" th:field="*{email}" value="*{email}" class="form-control" id="email"
                   placeholder="example@gmail.com">
            <div th:if="${#fields.hasErrors('email')}"><i class="fas fa-exclamation text-danger"></i>
                <span class="text-danger" th:errors="*{email}"></span>
            </div>
            <br>
            <hr class="mt-2">
            <button class="btn btn-primary btn-block" type="submit">Зберегти</button>
            <div class="text-center mt-2"><a th:class="text-secondary" th:href="@{/clients}">Відмінити</a></div>
        </div>
    </form>
</div>
<div th:insert="footer.html"></div>
<script th:src="@{/ajax/jquery-3.3.1.min.js}"></script>
<script th:src="@{/ajax/popper.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>