<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Client form</title>
    <meta charset="utf-8">

    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"-->
    <!--integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">-->

    <!-- bootstrap kit-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- end of bootstrap kit-->
    <link rel="stylesheet" href="/footer.css">

    <link th:href="@{/fontawesome/css/all.css}" rel="stylesheet">


    <style>
        #bookingTable {
            table-layout: fixed;
        }

        #bookingTable>thead>tr>th,
        #bookingTable>tbody>tr>td {
            padding: 0;
            vertical-align: middle;
            text-align: center;
            width: 26px;
            height: 22px;
            overflow: visible;
            border-left: none;
            border-right: none;
        }

        #roomNumsTable {
            float: left;
        }

        .roomNum {
            height: 44px;
            border-bottom: 0.5px solid black;
        }

        #loader {
            position: absolute;
            width: 46px;
            margin: -23px 0 0 -23px;
            left: 50%;
            top: 50%;
            vertical-align: middle;
            z-index: 1;
        }

        .innerSpan {
            margin-top: 4px;
            margin-bottom: 4px;
            margin-left: 0px;
            margin-right: 0px;
            display: block;
            height: 14px;
        }






    </style>


</head>

<body class="bg-light">
<div th:insert="header.html"></div>
<ol class="breadcrumb bg-white shadow-sm">
    <li class="breadcrumb-item active"><a th:href="@{/}">Домашня</a></li>
</ol>
<div class="container">
    <div id="loader" class="text-center"><i class="fas fa-spinner text-muted fa-spin fa-3x"></i></div>
    <br>
    <div class="card shadow-sm" id="mainCard" style="display:none;">
        <div class="card-body">
            <div class="mb-4">
                <span class="card-title h4">Бронювання</span>
                <span class="btn-group float-right" role="group">
                    <button type="button" id="prevMonth" class="btn btn-sm btn-outline-primary">Prev</button>
                    <button type="button" id="currMonth" class="btn btn-sm btn-outline-primary">Curr</button>
                    <button type="button" id="nextMonth" class="btn btn-sm btn-outline-primary">Next</button>
                </span>
            </div>

            <div class="row mr-2 ml-2">
                <table class="bg-light" id="roomNumsTable" style="float:left;">
                    <thead>
                    <tr>
                        <th style="height:45.5px;"></th>
                    </tr>
                    <tr>
                        <th class="roomNum" style="border-top:0.5px solid black;"><a class="tip" data-placement="right"
                                                                                     title="Будинок 1, односпальне - 2">1</a>
                        </th>
                    </tr>
                    <tr>
                        <th class="roomNum"><a class="tip" data-placement="right"
                                               title="Будинок 1, односпальне - 2">2</a></th>
                    </tr>
                    <tr>
                        <th class="roomNum"><a class="tip" data-placement="right"
                                               title="Будинок 1, односпальне - 2">3</a></th>
                    </tr>
                    <tr>
                        <th class="roomNum"><a class="tip" data-placement="right"
                                               title="Будинок 1, односпальне - 2">4</a></th>
                    </tr>
                    <tr>
                        <th class="roomNum"><a class="tip" data-placement="right"
                                               title="Будинок 1, односпальне - 2">5</a></th>
                    </tr>
                    <tr>
                        <th class="roomNum"><a class="tip" data-placement="right"
                                               title="Будинок 2, односпальне - 2">6</a></th>
                    </tr>
                    <tr>
                        <th class="roomNum"><a class="tip" data-placement="right"
                                               title="Будинок 2, односпальне - 2">7</a></th>
                    </tr>
                    <tr>
                        <th class="roomNum"><a class="tip" data-placement="right"
                                               title="Будинок 3, односпальне - 2">8</a></th>
                    </tr>
                    <tr>
                        <th class="roomNum"><a class="tip" data-placement="right"
                                               title="Будинок 3, односпальне - 2">9</a></th>
                    </tr>
                    </thead>
                </table>
                <div class="table-responsive col" style="padding-left:0px">
                    <table class="table table-bordered" id="bookingTable">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dropdown">
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Another link</a>
    </div>
</div>
<div th:insert="footer.html"></div>
<script th:src="@{/ajax/jquery-3.3.1.min.js}"></script>
<script th:src="@{/ajax/popper.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</body>
<script>


    $(document).ready(function() {
        loadTableData("curr");

        $('#prevMonth').click(function(){
          $('#bookingTable thead').empty();
          $('#bookingTable tbody').empty();
          loadTableData("prev");
        });
        $('#currMonth').click(function(){
          $('#bookingTable thead').empty();
          $('#bookingTable tbody').empty();
          loadTableData("curr");
        });
        $('#nextMonth').click(function(){
          $('#bookingTable thead').empty();
          $('#bookingTable tbody').empty();
          loadTableData("next");
        });
    });

    $(document).ready(function() {
        $('.tip').tooltip();
        cellPopover();

    });


    function cellPopover() {

        var popOverSettings = {
            placement: 'top',
            <!--container: 'body',-->
            container: '#bookingTable',
            html: true,
            selector: '.cell', //Sepcify the selector here
            title: function() {
                var id = $(this).data('vac');


                <!--var rows = $('#bookingTable tbody').children('tr');-->
                <!--for(var i = 0;i<rows.length;i++){-->
                    <!--var cells = $(rows[i]).children('td');-->
                    <!--for(var j = 0;j<cells.length;j++){-->
                        <!--if($(cells[j]).data('vac') == id){-->
                        <!--$(cells[j]).addClass('activeVac');-->
                        <!--$($(cells[j]).children('span')[0]).css('background-color','red');-->
                        <!--}-->
                    <!--}-->
                <!--}-->


                return "<a href='/vacation/" + id + "/edit'>#" + id + "</a><span class='dropdown-toggle float-right' data-toggle='dropdown'>&nbsp;&nbsp;&nbsp;</span>" +
                    "<div class='dropdown-menu' style='cursor:pointer; min-width: 50px !important;'>" +
                    "<a class='dropdown-item' href='#'><i class='far fa-check'></i></a>" +
                    "<div class='dropdown-divider'></div>" +
                    "<a class='dropdown-item' href='vacation/" + id + "/remove'><i class='far fa-trash'></i></a></div></div>";
            },
            content: function() {
                var range = $(this).data('start').slice(-2) + " - " + $(this).data('end').slice(-2);
                var clientName = $(this).data('client');
                var room = $(this).data('room');
                return range + ", Кім. " + room + "<br>clientName";
            }
        }
        $('body').popover(popOverSettings);


        $(document).on('click', function(e) {
            $('[data-toggle="popover"],[data-original-title]').each(function() {
                if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                    (($(this).popover('hide').data('bs.popover') || {}).inState || {}).click = false // fix for BS 3.3.6
                }
            });
        });



    }

    function loadTableData(direction) {
        $('#loader').show();
        $.get('http://localhost:8080/tableData/'+direction, function(data) {
            <!--https://quiet-springs-81500.herokuapp.com/tableData-->
            <!--http://localhost:8080/tableData-->
            $('#loader').hide();

            buildTableHeader(data[0]);
            buildTableBody(data);
            mergeRows();
            <!--mergeCells();-->
            $('#mainCard').css('display', 'block');
        });
    }




    function buildTableHeader(headerData) {
        var tHead = document.getElementById('bookingTable').getElementsByTagName('thead')[0];

        var headerRow0 = tHead.insertRow(0);

        <!--var headerCell1 = document.createElement("TH");-->
        <!--headerCell1.setAttribute("colspan",parseInt(headerData[0].monthLength)*2);-->
        <!--headerRow0.appendChild(headerCell1);-->
        <!--var headerCell2 = document.createElement("TH");-->
        <!--headerCell2.setAttribute("colspan",parseInt(headerData[headerData.length-1].monthLength)*2);-->
        <!--headerRow0.appendChild(headerCell2);-->

        var headerRow1 = tHead.insertRow(0);
        for (var i = 0; i < headerData.length; i++) {
            var headerCell = document.createElement("TH");
            headerCell.setAttribute("colspan", "2");
            headerRow1.appendChild(headerCell);
            var headerCellText = document.createTextNode(headerData[i].dayOfMonth);
            headerCell.appendChild(headerCellText);
            if (i % 2 != 0) {
                $(headerCell).css('background-color','#f0f0f0');
            }
        }

        var headerRow2 = tHead.insertRow(1);
        for (var i = 0; i < headerData.length; i++) {
            var headerCell = document.createElement("TH");
            headerCell.setAttribute("colspan", "2");
            headerRow2.appendChild(headerCell);
            var headerCellText = document.createTextNode(headerData[i].dayOfWeek);
            headerCell.appendChild(headerCellText);
            if (i % 2 != 0) {
                $(headerCell).css('background-color','#f0f0f0');
            }
        }
    }


    function addAttributes(data, obj, index) {
        var $obj = $(obj);
        for (var key in data) {
            if (key.endsWith(index)) {
                <!--$obj.data(key.slice(0, -2), data[key]);-->
                $obj.attr('data-'+key.slice(0, -2), data[key]);
                $obj.html("<span class='innerSpan' style='background-color:#13B955'></span>");
                $obj.addClass('cell');
            }
        }
    }

    function buildTableBody(rows) {
        var tBody = document.getElementById('bookingTable').getElementsByTagName('tbody')[0];
        for (var i = 1; i < rows.length; i++) {
            var row = tBody.insertRow(i - 1);
            var changeBg = false;
            for (var j = 0, k = 0; j < rows[i].length * 2; j = j + 2, k++) {
                var cell1 = row.insertCell(j);
                var cell2 = row.insertCell(j + 1);

                if (changeBg) {
                    $(cell1).css('background-color','#f0f0f0');
                    $(cell2).css('background-color','#f0f0f0');
                    changeBg = false;
                } else {
                    changeBg = true;
                }

                if (rows[i][k].hasOwnProperty('vac_1')) {
                    addAttributes(rows[i][k], cell1, 0);
                    addAttributes(rows[i][k], cell2, 1);
                } else {
                    addAttributes(rows[i][k], cell1, 0);
                    addAttributes(rows[i][k], cell2, 0);
                }


                <!--roundCorners(cell1, cell2);-->
            }
        }
    }

    function roundCorners(cell1, cell2) {
        var $cell1 = $(cell1);
        var $cell2 = $(cell2);
        if ($cell1.data('vac') == $cell2.data('vac')) {
            $cell2.hide();
            $cell1.attr('colspan', '2');
            if ($cell1.data('arrival') == 'true' && $cell2.data('arrival') == 'true') {
                $cell1.find("span").css('border-radius', '15px 0px 0px 15px');
            } else if ($cell1.data('leave') == 'true' && $cell2.data('leave') == 'true') {
                $cell1.find("span").css('border-radius', '0px 15px 15px 0px');
            }
        } else if ($cell1.data('vac') != $cell2.data('vac')) {
            $cell1.find("span").css('border-radius', '0px 15px 15px 0px');
            $cell2.find("span").css('border-radius', '15px 0px 0px 15px');
        }
    }

    function hasAttr($element, attrName) {
        var attr = $element.attr(attrName);
        return typeof attr !== typeof undefined && attr !== false;
    }

    function mergeCells() {
        var rows = $('#bookingTable').children('tbody').children('tr');
        for (var i = 0; i < rows.length; i++) {
            var cells = $(rows[i]).children('td');
            var $primaryCell = $(cells[0]);

            for (var j = 1; j < cells.length; j++) {
                var $currCell = $(cells[j]);
                var $prevCell = $(cells[j - 1]);

                if ($currCell.data('vac') == $prevCell.data('vac') && hasAttr($currCell, 'data-vac')) {
                    $currCell.hide();
                    if (!hasAttr($primaryCell, 'colspan')) {
                        $primaryCell.attr('colspan', 1);
                    }
                    var currColspan = $primaryCell.attr('colspan');
                    $primaryCell.attr('colspan', (parseInt(currColspan) + 1));
                } else {
                    $primaryCell = $currCell;
                }
            }
        }
    }

    function mergeRows() {

    var rows = $('#bookingTable').children('tbody').children('tr');

    for (var i = 1; i < rows.length; i++) {

        for (var j = 0; j < $(rows[0]).children('td').length; j++) {
            if(i%2!=0){
                var bottomCell = $(rows[i - 1]).children('td')[j];
                var topCell = $(rows[i]).children('td')[j];

                var $bottomCell = $(bottomCell);
                var $topCell = $(topCell);

                if ($topCell.data('vac') == $bottomCell.data('vac')) {
                    $bottomCell.css('height','44px');
                    $bottomCell.attr('rowspan','2');
                    var innerSpan = $bottomCell.children('span')[0];
                    $(innerSpan).css('height','30px');

                    <!--if($bottomCell.data('arrival') == true){-->
                    <!--$(innerSpan).css('border-radius','30px 0px 0px 30px');-->
                    <!--}-->
                    <!--if($bottomCell.data('leave') == true){-->
                    <!--$(innerSpan).css('border-radius','0px 30px 30px 0px');-->
                    <!--}-->

                    $topCell.hide();
                }
            }

            if(j%2!=0){
                var leftCell = $(rows[i]).children('td')[j-1];
                var rightCell = $(rows[i]).children('td')[j];

                var $leftCell = $(leftCell);
                var $rightCell = $(rightCell);

                if($leftCell.data('vac') == $rightCell.data('vac')){
                    $leftCell.attr('colspan','2');
                    $rightCell.hide();
                }
            }
        }
    }
}






</script>

</html>