<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Client form</title>
    <meta charset="utf-8">

    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"-->
    <!--integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">-->

    <!-- bootstrap kit-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- end of bootstrap kit-->
    <link rel="stylesheet" href="/footer.css">

    <link th:href="@{/fontawesome/css/all.css}" rel="stylesheet">


    <style>

        #bookingTable>tbody>tr>td,
        #bookingTable>tbody>tr>th,
        #bookingTable>thead>tr>td,
        #bookingTable>thead>tr>th {
            padding: 0;
        }

        #bookingTable {
            table-layout: fixed;
        }

        #bookingTable>tbody>tr>td ,
        #bookingTable>tbody>tr>td>span  {
            overflow: hidden;
            text-overflow:ellipsis;
            vertical-align: middle;
            height: 16px;
        }

        #bookingTable>thead>tr>th {
            vertical-align: middle;
            height: 22px;
            width: 26px;
        }


        #loader {
            position: absolute;
            width: 46px;
            margin: -23px 0 0 -23px;
            left: 50%;
            top: 50%;
            vertical-align: middle;
            z-index: 1;
        }


        <!--.headcol {-->
            <!--position: absolute;-->
            <!--width: 26px;-->
            <!--< !&#45;&#45;height: 26.5px;&ndash;&gt;-->
            <!--background-color: white;-->
            <!--&lt;!&ndash;margin-left: -26px;&ndash;&gt;-->
        <!--}-->


        .roomNum {
            height: 44px;
            border-top: 1px solid grey;
            border-bottom: 1px solid grey;
        }


    </style>


</head>

<body class="bg-light">
<div th:insert="header.html"></div>
<ol class="breadcrumb bg-white shadow-sm">
    <li class="breadcrumb-item active"><a th:href="@{/}">Домашня</a></li>
</ol>
<div class="container">
    <div id="loader" class="text-center"><i class="fas fa-spinner text-secondary fa-spin fa-3x"></i></div>
    <br>
    <div class="card shadow-sm" id="mainCard" style="display:none;">
        <div class="card-body">
            <div class="mb-4">
                <h4 class="card-title">Бронювання</h4>
            </div>
            <div class="row mr-2 ml-2">
                <table class="bg-light" style="float:left;">
                    <tr>
                        <th style="height:22px;"></th>
                    </tr>
                    <tr>
                        <th class="roomNum">1</th>
                    </tr>
                    <tr>
                        <th class="roomNum">2</th>
                    </tr>
                    <tr>
                        <th class="roomNum">3</th>
                    </tr>
                    <tr>
                        <th class="roomNum">4</th>
                    </tr>
                    <tr>
                        <th class="roomNum">5</th>
                    </tr>
                    <tr>
                        <th class="roomNum">6</th>
                    </tr>
                    <tr>
                        <th class="roomNum">7</th>
                    </tr>
                    <tr>
                        <th class="roomNum">8</th>
                    </tr>
                    <tr>
                        <th class="roomNum">9</th>
                    </tr>
                </table>
                <div class="table-responsive col" style="padding-left:0px">
                    <table class="table table-bordered" id="bookingTable">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="footer.html"></div>
<script th:src="@{/ajax/jquery-3.3.1.min.js}"></script>
<script th:src="@{/ajax/popper.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</body>
<script>
    $(document).ready(function() {
        loadTableData();
    });

    $(document).ready(function() {
        $('[data-toggle="popover"]').popover();
    });

    <!--function loadTableData() {-->
        <!--$('#loader').show();-->
        <!--$.get('http://localhost:8080/tableData', function(data) {-->
            <!--$('#loader').hide();-->
            <!--$('#bookingTable').html(data);-->

            <!--putArrows();-->
            <!--mergeRows();-->
            <!--mergeCells();-->
            <!--removeBorders();-->


            <!--$('#mainCard').css('display', 'block');-->
        <!--});-->
    <!--}-->

 function loadTableData() {
        $('#loader').show();
        $.get('https://quiet-springs-81500.herokuapp.com/tableData', function(data) {
            $('#loader').hide();
            $('#bookingTable').html(data);

            putArrows();
            mergeRows();
            mergeCells();
            removeBorders();
            $('#mainCard').css('display', 'block');
        });
    }


    function removeBorders(){

     var rows = $('#bookingTable').children('tbody').children('tr');
        for (var i = 0; i < rows.length; i++) {
            var cells = $(rows[i]).children('td').filter(function() {
            return (($(this).data('arrival_0') !== true) && ($(this).data('leave_0') !== true) &&
                    ($(this).data('arrival_1') !== true) && ($(this).data('leave_1') !== true))
                && hasAttr($(this),'data-vac_0');
            });

            for (var j = 0; j < cells.length; j++) {
                $(cells[j]).css('border-left','none');
                $(cells[j]).css('border-right','none');
            }
        }
     }


    function putArrows() {
        var rows = $('#bookingTable').children('tbody').children('tr');
        for (var i = 0; i < rows.length; i++) {
            var cells = $(rows[i]).children('td');

            for (var j = 0; j < cells.length; j++) {
                var $currCell = $(cells[j]);

                if (($currCell.data('arrival_0') === true && ($currCell.data('leave_1') === true)) ||
                    (($currCell.data('arrival_1') === true) && ($currCell.data('leave_0') === true))) {
                    $currCell.css('border-left','none');
                    $currCell.css('border-right','none');
                    $currCell.html('<span class="btn-block"><img src="images/Untitled.png" width="26" height="16"></span>');
                } else if ($currCell.data('arrival_0') === true) {
                    $currCell.css('border-right','none');
                    $currCell.html('<span class="bg-info btn-block" style="border-radius: 10px 0px 0px 10px;"></span>');
                    <!--<i class="fal fa-chevron-left"></i>-->
                } else if ($currCell.data('leave_0') === true) {
                    $currCell.css('border-left','none');
                    $currCell.html('<span class="bg-info btn-block" style="border-radius: 0px 10px 10px 0px;"></span>');
                    <!--<i class="fal fa-chevron-right"></i>-->

                }

            }
        }
    }


    function mergeCells() {
        var rows = $('#bookingTable').children('tbody').children('tr');
        for (var i = 0; i < rows.length; i++) {
            var cells = $(rows[i]).children('td').filter(function() {
                return (($(this).data('arrival_0') !== true) && ($(this).data('leave_0') !== true) &&
                    ($(this).data('arrival_1') !== true) && ($(this).data('leave_1') !== true));
            });

            var $primaryCell = $(cells[0]);

            for (var j = 1; j < cells.length; j++) {
                var $currCell = $(cells[j]);
                var $prevCell = $(cells[j - 1]);


                if (hasAttr($currCell, 'data-vac_0') && hasAttr($prevCell, 'data-vac_0') &&
                    $currCell.data('vac_0') === $prevCell.data('vac_0')) {

                    $currCell.hide();
                    if (!hasAttr($primaryCell, 'colspan')) {
                        $primaryCell.attr('colspan', 1);
                    }
                    var currColspan = $primaryCell.attr('colspan');
                    $primaryCell.attr('colspan', (parseInt(currColspan) + 1));
                } else {
                    $primaryCell = $currCell;
                }
            }
        }
    }

    function mergeRows() {

        var rows = $('#bookingTable').children('tbody').children('tr');

        for (var i = 1; i < rows.length; i = i + 2) {

            for (var j = 0; j < $(rows[0]).children('td').length; j++) {

                var prevCell = $(rows[i - 1]).children('td')[j];
                var currCell = $(rows[i]).children('td')[j];

                var $prevCell = $(prevCell);
                var $currCell = $(currCell);

                if ($currCell.data('vac_0') === $prevCell.data('vac_0')) {
                    $prevCell.attr('rowspan', 2);
                    $prevCell.css('height', '44px');
                    $prevCell.children('span').css('height', '30px');
                    $prevCell.children('span').css('text-align', 'center');
                    $prevCell.children('span').css('line-height', '30px');


                    if(($prevCell.data('arrival_0') === true && $prevCell.data('leave_1') === true) ||
                    ($prevCell.data('arrival_1') === true && $prevCell.data('leave_0') === true)){
                        $prevCell.children('span').html('<img src="images/Untitled2.png" width="26" height="30">');
                    }

                    $currCell.hide();
                }
            }
        }

    }


    function hasAttr($element, attrName) {
        var attr = $element.attr(attrName);
        return typeof attr !== typeof undefined && attr !== false;
    }
</script>

</html>