<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Clients</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <link th:href="@{/footer.css}" rel="stylesheet">
    <!-- pagination -->
    <link th:href="@{/pagination/css/style.css}" rel="stylesheet"/>

    <link th:href="@{/fontawesome/css/all.css}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" th:href="@{/data-tables/datatables.css}">

    <!--<style>-->
    <!--/* enable absolute positioning */-->
    <!--.inner-addon {-->
    <!--position: relative;-->
    <!--}-->

    <!--/* style icon */-->
    <!--.inner-addon .glyphicon {-->
    <!--position: absolute;-->
    <!--padding: 10px;-->
    <!--pointer-events: none;-->
    <!--}-->

    <!--/* align icon */-->
    <!--.left-addon .glyphicon  { left:  0px;}-->
    <!--.right-addon .glyphicon { right: 0px;}-->

    <!--/* add padding  */-->
    <!--.left-addon input  { padding-left:  30px; }-->
    <!--.right-addon input { padding-right: 30px; }-->

    <!--</style>-->

    <style>
        #dataTableButtons button {
            background-color:#ecf0f1;
            color:black;
            padding: 0.25rem 0.5rem;
            font-size: 0.8203125rem;
            line-height: 1.5;
        }


    </style>

</head>

<!--<body style="background-color:#E9EBEE">-->

<body class="bg-light">


<nav class="navbar navbar-expand-md navbar-dark bg-primary" xmlns:th="http://www.w3.org/1999/xhtml">
    <a class="navbar-brand" th:href="@{/}"><i class="fas fa-home text-white fa-lg"></i></a>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse dual-collapse2" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item text-nowrap">
                <a class="nav-link" th:href="@{/vacations}"><i class="far fa-bed"></i>&nbsp;&nbsp;&nbsp;Бронювання</a>
            </li>
            <li class="nav-item text-nowrap active">
                <a class="nav-link" th:href="@{/clients}"><i class="far fa-user"></i>&nbsp;&nbsp;&nbsp;Клієнти</a>
            </li>
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#"><i class="far fa-chart-line"></i>&nbsp;&nbsp;&nbsp;Статистика</a>
            </li>
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#"><i class="far fa-sign-out-alt"></i>&nbsp;&nbsp;&nbsp;Вихід</a>
            </li>
        </ul>
    </div>

</nav>


<ol class="breadcrumb bg-white shadow-sm">
    <li class="breadcrumb-item"><a th:href="@{/}">Домашня</a></li>
    <li class="breadcrumb-item active">Клієнти</li>
</ol>


<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Видалити дані клієнта?</h5>
            </div>
            <div class="modal-body">
                <h4 class="mb-4"></h4>
                <a class="btn btn-info btn-block btn-ok shadow-sm">Видалити</a>
                <a class="text-center mt-2 btn btn-link btn-block text-muted" href="" data-dismiss="modal">Назад</a>
            </div>
        </div>
    </div>
</div>

<div class="container col-md-10" style="float: none; margin: 0 auto;">
    <br>
    <!--<div class="my-3 p-3 bg-light rounded shadow-sm">-->

    <div class="card shadow-sm">
        <div class="card-body">
            <div class="mb-4">
                <span class="h4 card-title">Клієнти</span>
                <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
                <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                <a th:href="@{/clients/update}" class="btn btn-outline-primary float-right mb-2 shadow-sm">
                    Новий клієнт
                </a>
            </div>


            <div class="table-responsive">

                <table class="table table-hover bg-white table-bordered table-striped" id="clientListTable">
                    <thead>
                    <tr>
                        <th>Ім'я</th>
                        <th>Додаткова інф.</th>
                        <th>Телефон</th>
                        <th>Email</th>
                        <!--<th>Статус</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="client : ${clients}">
                        <td>
                            <a th:text="${client.name}" th:href="@{/client/{clientId}/edit(clientId=${client.id})}"
                               th:class="text-primary"></a>
                        </td>
                        <td>
                            <div th:text="${client.otherClientInfo}"></div>
                        </td>
                        <td>
                            <div><a th:href="'tel:'+${client.phoneNumber}" th:text="${client.phoneNumber}"></a></div>
                        </td>
                        <td>
                            <div th:class="text-dark" th:text="${client.email}"></div>
                        </td>

                        <!--<td>-->
                        <!--&lt;!&ndash;<span><a th:href="@{/client/{clientId}/edit(clientId=${client.id})}">&ndash;&gt;-->
                        <!--&lt;!&ndash;<i class="fas fa-pencil-alt" aria-hidden="true"></i></a>&emsp;&emsp;</span>&ndash;&gt;-->
                        <!--<span class="float-right"><a href="#"-->
                        <!--th:data-href="@{/client/{clientId}/remove(clientId=${client.id})}"-->
                        <!--th:data-client="${client.name}+' '+${client.otherClientInfo}"-->
                        <!--data-toggle="modal"-->
                        <!--data-target="#confirm-delete">-->
                        <!--<i class="fal fa-times text-secondary"></i>-->
                        <!--</a></span>-->
                        <!--</td>-->
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="mt-2 float-right" id="dataTableButtons">
            </div>
            <!--<hr>-->
            <!--<div th:if="${clients.totalPages != 1}" class="form-group">-->
            <!--<ul class="pagination">-->
            <!--<li th:class="${clients.number == 0} ? 'disabled page-item shadow-sm' : 'page-item shadow-sm'">-->
            <!--<a class="page-link" th:href="@{/clients(pageSize=${selectedPageSize}, page=1)}"><i-->
            <!--class="fal fa-angle-double-left"></i></a>-->
            <!--</li>-->
            <!--&lt;!&ndash;<li th:class="${clients.number == 0} ? disabled">&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="page-link" th:href="@{/clients(pageSize=${selectedPageSize}, page=${clients.number})}"><i&ndash;&gt;-->
            <!--&lt;!&ndash;class="fal fa-angle-left"></i></a>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--<li th:class="${clients.number == (page - 1)} ? 'page-item active pointer-disabled shadow-sm' : 'page-item shadow-sm'"-->
            <!--th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">-->
            <!--<a class="page-link" th:href="@{/clients(pageSize=${selectedPageSize}, page=${page})}"-->
            <!--th:text="${page}"></a>-->
            <!--</li>-->
            <!--&lt;!&ndash;<li th:class="${clients.number + 1 == clients.totalPages} ? disabled">&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="page-link"&ndash;&gt;-->
            <!--&lt;!&ndash;th:href="@{/clients(pageSize=${selectedPageSize}, page=${clients.number + 2})}"><i&ndash;&gt;-->
            <!--&lt;!&ndash;class="fal fa-angle-right"></i></a>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--<li th:class="${clients.number + 1 == clients.totalPages} ? 'disabled page-item shadow-sm' : 'page-item shadow-sm'">-->
            <!--<a class="page-link"-->
            <!--th:href="@{/clients(pageSize=${selectedPageSize}, page=${clients.totalPages})}"><i-->
            <!--class="fal fa-angle-double-right"></i></a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
        </div>

    </div>
</div>
<!--</div>-->
<div th:insert="footer.html"></div>
<script th:src="@{/ajax/jquery-3.3.1.min.js}"></script>
<script th:src="@{/ajax/popper.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" charset="utf8" th:src="@{/data-tables/datatables.js}"></script>

<script>
        $(document).ready(function() {


            var table = $('#clientListTable').DataTable({
                <!--compact: true,-->
                buttons: ['excel', 'pdf'],
                "language": {
                    "sProcessing": "Зачекайте...",
                    "sLengthMenu": "Показати _MENU_ записів",
                    "sZeroRecords": "Записи відсутні.",
                    "sInfo": "Записи з _START_ по _END_ із _TOTAL_ записів",
                    "sInfoEmpty": "Записи з 0 по 0 із 0 записів",
                    "sInfoFiltered": "(відфільтровано з _MAX_ записів)",
                    "sInfoPostFix": "",
                    "sSearch": "Пошук:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Перша",
                        "sPrevious": "<",
                        "sNext": ">",
                        "sLast": "Остання"
                    },
                    "oAria": {
                        "sSortAscending": ": активувати для сортування стовпців за зростанням",
                        "sSortDescending": ": активувати для сортування стовпців за спаданням"
                    }
                }
            });

            table.buttons().container().appendTo('#dataTableButtons');
        });

        $(document).ready(function() {
            $('#confirm-delete').on('show.bs.modal', function(e) {
                $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
                var link = $(e.relatedTarget)
                var clientName = link.data('client');
                $(this).find('.modal-body h4').text(clientName);
            });
        });

</script>
<!--<script th:src="@{/pagination/js/app.js}"></script>-->
</body>

</html>