<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Vacations</title>
    <meta charset="utf-8">

    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"-->
    <!--integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">-->

    <!-- bootstrap kit-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- end of bootstrap kit-->
    <link th:href="@{/pagination/css/style.css}" rel="stylesheet"/>

    <link th:href="@{/fontawesome/css/all.css}" rel="stylesheet">

    <link rel="stylesheet" href="/footer.css">

</head>
<body class="bg-light">
<div th:insert="header.html"></div>
<ol class="breadcrumb bg-white shadow-sm">
    <li class="breadcrumb-item"><a th:href="@{/}">Домашня сторінка</a></li>
    <li class="breadcrumb-item active">Бронювання</li>
</ol>
<div class="container">
    <br>
    <div class="card shadow-sm">
        <div class="card-body">
            <div class="mb-4">
                <span class="h4 card-title">Бронювання</span>
                <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
                <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                <a th:href="@{/vacations/add}" class="btn btn-sm btn-success float-right mb-2 shadow-sm">
                    <i class="far fa-plus text-white"></i>&nbsp;Створити</a>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover bg-white rounded shadow-sm mt-4">
                    <thead class="bg-primary">
                    <tr>
                        <th>Клієнт</th>
                        <th>К-сть</th>
                        <th>Приїзд</th>
                        <th>Відїзд</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="vacation : ${vacations}">
                        <td><span
                                th:text="${vacation.clientName}+' '+${vacation.clientOtherInfo}"></span></td>
                        <td><span
                                th:text="${vacation.residentsCount}"></span></td>
                        <td><span
                                th:text="${vacation.arrivalDate}"></span></td>
                        <td><span
                                th:text="${vacation.leaveDate}"></span></td>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="form-group col-md-1 col-3">
                    <select class="form-control pagination" id="vacationsPageSizeSelect">
                        <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
                                th:selected="${pageSize} == ${selectedPageSize}"></option>
                    </select>
                </div>
                <div th:if="${vacations.totalPages != 1}" class="form-group col-md-11 col-9 pagination-centered">
                    <ul class="pagination">
                        <li th:class="${vacations.number == 0} ? disabled">
                            <a class="page-link" th:href="@{/vacations(pageSize=${selectedPageSize}, page=1)}"><i
                                    class="fal fa-angle-double-left"></i></a>
                        </li>
                        <!--<li th:class="${vacations.number == 0} ? disabled">-->
                        <!--<a class="page-link"-->
                        <!--th:href="@{/vacations(pageSize=${selectedPageSize}, page=${vacations.number})}"><i class="fal fa-angle-left"></i></a>-->
                        <!--</li>-->
                        <li th:class="${vacations.number == (page - 1)} ? 'page-item active pointer-disabled'"
                            th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                            <a class="page-link" th:href="@{/vacations(pageSize=${selectedPageSize}, page=${page})}"
                               th:text="${page}"></a>
                        </li>
                        <!--<li th:class="${vacations.number + 1 == vacations.totalPages} ? disabled">-->
                        <!--<a class="page-link"-->
                        <!--th:href="@{/vacations(pageSize=${selectedPageSize}, page=${vacations.number + 2})}"><i class="fal fa-angle-right"></i></a>-->
                        <!--</li>-->
                        <li th:class="${vacations.number + 1 == vacations.totalPages} ? disabled">
                            <a class="page-link"
                               th:href="@{/vacations(pageSize=${selectedPageSize}, page=${vacations.totalPages})}"><i
                                    class="fal fa-angle-double-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="footer.html"></div>

<script th:src="@{/ajax/jquery-3.3.1.min.js}"></script>
<script th:src="@{/ajax/popper.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

<script>
			$(document).ready(function(){
				$("#inputSearch").on("keyup", function() {
					var value = $(this).val().toLowerCase();
					$("#clientTable tr").filter(function() {
						$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
					});
				});

				$('#confirm-delete').on('show.bs.modal', function(e) {
					$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
					var link = $(e.relatedTarget)
					var clientName = link.data('client');
					$(this).find('.modal-body h5').text(clientName);
				});
			});



</script>
<script th:src="@{/pagination/js/app.js}"></script>
</body>
</html>