<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Vacation form</title>
    <meta charset="utf-8">

    <!-- bootstrap kit-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/footer.css}" rel="stylesheet">

    <!--bootstrap-select-->
    <link th:href="@{/bootstrap-select/bootstrap-select.css}" rel="stylesheet"/>

    <!--date picker-->
    <link th:href="@{/date-picker/css/gijgo.min.css}" rel="stylesheet"/>

    <link th:href="@{/fontawesome/css/all.css}" rel="stylesheet">
</head>

<body class="bg-light">


<nav class="navbar navbar-expand-md navbar-dark bg-primary" xmlns:th="http://www.w3.org/1999/xhtml">
    <a class="navbar-brand" th:href="@{/}"><i class="fas fa-home text-white fa-lg"></i></a>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse dual-collapse2" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item text-nowrap active">
                <a class="nav-link" th:href="@{/vacations}"><i class="far fa-bed"></i>&nbsp;&nbsp;&nbsp;Бронювання</a>
            </li>
            <li class="nav-item text-nowrap">
                <a class="nav-link" th:href="@{/clients}"><i class="far fa-user"></i>&nbsp;&nbsp;&nbsp;Клієнти</a>
            </li>
            <li class="nav-item text-nowrap">
                <a class="nav-link" th:href="@{/statistics}"><i class="far fa-chart-line"></i>&nbsp;&nbsp;&nbsp;Статистика</a>
            </li>
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#"><i class="far fa-sign-out-alt"></i>&nbsp;&nbsp;&nbsp;Вихід</a>
            </li>
        </ul>
    </div>

</nav>


<ol class="breadcrumb bg-white shadow-sm">
    <li class="breadcrumb-item"><a th:href="@{/}">Домашня</a></li>
    <li class="breadcrumb-item"><a th:href="@{/vacations}">Бронювання</a></li>
    <li class="breadcrumb-item active">Створити</li>
</ol>
<div th:insert="clientFormModal.html"></div>

<div class="modal" id="vacValidationErrorAlert" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center"><i class="fal fa-exclamation-triangle fa-10x text-warning"></i></div>
                <h5 class="mb-4 mt-4 text-primary text-center">Кімнати на обраний період часу вже заброньовані. Оберіть
                    іншу дату
                    або інші кімнати.</h5>
                <button type="button" data-dismiss="modal" class="btn btn-secondary btn-block shadow-sm">Ок</button>
            </div>
        </div>
    </div>
</div>

<div class="container col-md-6" style="float: none; margin: 0 auto;">
    <br>
    <div class="card shadow-sm">
        <div class="card-body">

            <form class="needs-validation" action="#" th:action="@{/vacations/update}" th:object="${vacationModel}"
                  method="post">
                <div class="mb-4">
                    <span class="h5 card-title"
                          th:text="((*{vacationId} == null)?'Додати':'Редагувати') + ' бронювання'"></span>

                    <a th:href="@{/vacation/{vacationId}/remove(vacationId=${vacationModel.vacationId})}"
                       class="btn btn-outline-primary shadow-sm float-right" id="removeButton">
                        Видалити
                    </a>
                </div>

                <input th:type="hidden" id="vacationId" th:value="*{vacationId}" th:field="*{vacationId}">
                <div id="vacValidationError" th:if="${#fields.hasErrors('dummyVarForAlert')}"></div>
                <div style="display:none;" id="anyErrors" th:if="${#fields.hasErrors('*')}">true</div>

                <div class="row">
                    <div class="col-8 mb-3 form-group">
                        <label class="form-control-label" for="clientName">Клієнт<span
                                class="text-danger">&nbsp;*</span></label>
                        <a class="float-right disabled" id="createClientLink" data-toggle="modal" href=""
                           data-target="#addClassModal">новий клієнт</a>
                        <div>
                            <select disabled th:field="*{clientId}" data-live-search="true"
                                    data-live-search-normalize="true" data-none-results-text="Нічого не знайдено"
                                    title="Вибрати клієнта" data-width="100%" class="form-control selectpicker"
                                    th:data-style="${#fields.hasErrors('clientId')} ? 'bg-white border-danger border' : 'bg-white border'"
                                    data-size="3" id="clientName">
                                <option th:each="cl : ${clients}" th:value="${cl.id}"
                                        th:text="${cl.name}+' '+${cl.otherClientInfo}+' '+${cl.phoneNumber}"></option>
                            </select>
                        </div>
                        <div th:if="${#fields.hasErrors('clientId')}">
                            <span class="text-danger small" th:errors="*{clientId}"></span></div>
                    </div>

                    <div class="col-4 mb-3 form-group">
                        <label class="form-control-label" for="residentsCount">К-cть<span
                                class="text-danger">&nbsp;*</span></label>
                        <select disabled class="selectpicker form-control" data-style="bg-white border" data-width="100%"
                                id="residentsCount" th:field="*{residentsCount}"
                                th:value="*{residentsCount}" data-size="8">
                            <option th:value="1">1</option>
                            <option th:value="2">2</option>
                            <option th:value="3">3</option>
                            <option th:value="4">4</option>
                            <option th:value="5">5</option>
                            <option th:value="6">6</option>
                            <option th:value="7">7</option>
                            <option th:value="8">8</option>
                        </select>
                    </div>
                </div>
                <hr class="mt-2">
                <div class="row">
                    <div class="col-8 mb-3 form-group">
                        <label class="form-control-label" for="arrivalDate">Дата заселення<span class="text-danger">&nbsp;*</span></label>
                        <input disabled readonly type="text" th:field="*{arrivalDate}" th:value="*{arrivalDate}"
                               th:class="${#fields.hasErrors('arrivalDate')} ? 'form-control bg-white border-danger' : 'form-control bg-white'"
                               id="arrivalDate">
                        <div th:if="${#fields.hasErrors('arrivalDate')}">
                            <span class="text-danger small" th:errors="*{arrivalDate}"></span></div>
                    </div>
                    <div class="col-4 mb-3 form-group">
                        <label class="form-control-label" for="arrivalDayPart">Час</label>
                        <select disabled class="selectpicker form-control" data-style="bg-white border" data-width="100%"
                                th:field="*{arrivalDayPart}"
                                th:value="*{arrivalDayPart}" id="arrivalDayPart">
                            <option th:value="1">Ранок</option>
                            <option th:value="2">День</option>
                            <option th:value="3">Вечір</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 mb-3 form-group">
                        <label class="form-control-label" for="leaveDate">Дата виселення<span class="text-danger">&nbsp;*</span></label>
                        <input disabled readonly type="text" th:field="*{leaveDate}" value="*{leaveDate}"
                               th:class="${#fields.hasErrors('leaveDate')} ? 'form-control bg-white border-danger' : 'form-control bg-white'"
                               id="leaveDate">
                        <div th:if="${#fields.hasErrors('leaveDate')}">
                            <span class="text-danger small" th:errors="*{leaveDate}"></span>
                        </div>
                    </div>
                    <div class="col-4 mb-3 form-group">
                        <label class="form-control-label" for="leaveDayPart">Час</label>
                        <select disabled class="selectpicker form-control" data-width="100%" th:field="*{leaveDayPart}"
                                th:value="*{leaveDayPart}" data-style="bg-white border"
                                id="leaveDayPart">
                            <option th:value="1">Ранок</option>
                            <option th:value="2">День</option>
                            <option th:value="3">Вечір</option>
                        </select>
                    </div>
                </div>
                <hr class="mb-3">
                <div class="mb-3 form-group">
                    <label class="form-control-label" for="rooms">Кімнати<span
                            class="text-danger">&nbsp;*</span></label>
                    <select disabled data-width="100%" th:field="*{roomNumbers}"
                            th:value="*{roomNumbers}" class="form-control selectpicker"
                            th:data-style="${#fields.hasErrors('roomNumbers')} ? 'bg-white border border-danger' : 'bg-white border'"
                            id="rooms" data-size="7" multiple title="Вибрати кімнати">

                        <optgroup label="Будинок 1">
                            <option th:value="1">Кімната 1</option>
                            <option th:value="2">Кімната 2</option>
                            <option th:value="3">Кімната 3</option>
                            <option th:value="4">Кімната 4</option>
                            <option th:value="5">2-й поверх</option>
                        </optgroup>
                        <optgroup label="Будинок 2">
                            <option th:value="6">Кімната 5</option>
                            <option th:value="7">Кімната 6</option>
                        </optgroup>
                        <optgroup label="Будинок 3">
                            <option th:value="8">Кімната 7</option>
                            <option th:value="9">Кімната 8</option>
                        </optgroup>
                    </select>
                    <div th:if="${#fields.hasErrors('roomNumbers')}">
                        <span class="text-danger small" th:errors="*{roomNumbers}"></span>
                    </div>
                </div>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" th:field="*{hasSharedRooms}" th:value="*{hasSharedRooms}"
                           class="custom-control-input" id="allowBringIn">
                    <label class="custom-control-label" for="allowBringIn">Можливе підселення</label>
                </div>
                <div class="mb-3 mt-3 form-group">
                    <select disabled title="Кімната для підселення" id="BringInRoomsSelect" class="form-control selectpicker"
                            th:field="*{sharedRoomNumbers}" th:value="*{sharedRoomNumbers}"
                            th:data-style="${#fields.hasErrors('sharedRoomNumbers')} ? 'bg-white border border-danger' : 'bg-white border'"
                            data-width="100%" data-hide-disabled="true" multiple>
                        <option th:value="1">Кімната 1</option>
                        <option th:value="2">Кімната 2</option>
                        <option th:value="3">Кімната 3</option>
                        <option th:value="4">Кімната 4</option>
                        <option th:value="5">2-й поверх</option>
                        <option th:value="6">Кімната 5</option>
                        <option th:value="7">Кімната 6</option>
                        <option th:value="8">Кімната 7</option>
                        <option th:value="9">Кімната 8</option>
                    </select>
                    <div id="sharedRoomsError" th:if="${#fields.hasErrors('sharedRoomNumbers')}">
                        <span class="text-danger small" th:errors="*{sharedRoomNumbers}"></span>
                    </div>
                </div>

                <hr class="mb-3">
                <div class="row">
                    <div class="mb-3 col form-group">
                        <label class="form-control-label" for="pricePerDay">Ціна за добу</label>
                        <input disabled type="number" th:field="*{pricePerDay}" th:value="*{pricePerDay}"
                               id="pricePerDay" class="form-control">
                    </div>

                    <div class="mb-3 col form-group">
                        <label class="form-control-label" for="totalPrice">Загальна вартість<span class="text-danger">&nbsp;*</span></label>
                        <input disabled type="number" th:field="*{totalPrice}" th:value="*{totalPrice}"
                               id="totalPrice" class="form-control">
                    </div>
                </div>

                <div style="display:none;" id="saveVacSection">
                    <br>
                    <hr class="mt-2">
                    <button class="btn btn-primary btn-block shadow-sm" type="submit" id="saveVacButton">Зберегти
                    </button>
                    <a th:href="@{/vacations}"
                       class="text-center mt-2 btn btn-link btn-block text-muted">Відмінити</a>
                </div>


                <div id="editVacSection">
                    <br>
                    <hr class="mt-2">
                    <div class="btn btn-primary btn-block shadow-sm" id="editVacButton">Редагувати</div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:insert="footer.html"></div>

<script th:src="@{/ajax/jquery-3.3.1.min.js}"></script>
<script th:src="@{/ajax/popper.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/bootstrap-select/bootstrap-select.min.js}"></script>
<script th:src="@{/moment.js}"></script>
<script th:src="@{/date-picker/js/gijgo.min.js}"></script>
<script th:src="@{/date-picker/js/messages.ru-ru.js}" type="text/javascript"></script>
<script th:src="@{/jquery.mask.js}" type="text/javascript"></script>
<script th:src="@{/js/client-modal-ajax.js}" type="text/javascript"></script>
<script th:src="@{/js/vacation-form.js}" type="text/javascript"></script>
</body>

</html>